@import '../../../styles/variables.scss';

.linkContainer {
	text-align: right;
	margin: 0;
}

.navForgotPassword {
	font-size: 12px;
	color: $link_color;
}

.navForgotPassword:hover {
	text-decoration: underline;
	cursor: pointer;
}

.navForgotPassword:active {
	text-decoration: underline;
	cursor: pointer;
	opacity: 0.7;
}