@import '../../global.scss';

.linkContainer {
	text-align: center;
	margin-top: 2em;
}

.navRegisterOrLogin {
	color: #0096FF;
}

.navRegisterOrLogin:hover {
	text-decoration: underline;
	cursor: pointer;
}

.navRegisterOrLogin:active {
	text-decoration: underline;
	cursor: pointer;
	opacity: 0.7;
}

.error {
	margin-top: 2em;
	text-align: center;
	color: red;
}

.links {
	@media (max-width: $mantine-breakpoint-sm) {
	  margin-top: var(--mantine-spacing-lg);
	  margin-bottom: var(--mantine-spacing-sm);
	}
}

.link {
	color: #909090;
	font-size: 14px;
}

.link:hover {
	opacity: 0.7;
	text-decoration: underline;
	cursor: pointer;
}