@import '../../global.scss';

.linkContainer {
	text-align: center;
	margin-top: $auth_element_spacing;
}

.navRegisterOrLogin {
	color: $link_color;;
}

.navRegisterOrLogin:hover {
	text-decoration: underline;
	cursor: pointer;
}

.navRegisterOrLogin:active {
	text-decoration: underline;
	cursor: pointer;
	opacity: 0.7;
}

.error {
	margin-top: $auth_element_spacing;
	text-align: center;
	color: red;
}

.link {
	color: #909090;
	font-size: 14px;
}

.link:hover {
	opacity: 0.7;
	text-decoration: underline;
	cursor: pointer;
}