@import '../../styles/variables.scss';

.contentWrapper {
	position: relative;
	min-height: 100vh;
	padding-bottom: $footer_height;

	@media (max-width: $mantine-breakpoint-sm) {
		padding-bottom: $footer_height_breakpoint;
	}
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
    left: 0;
}