@import '../../shared/styles/variables.scss';

$height: rem(56px);

.header {
	height: $height;
	background-color: $light_background_color;
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
}

.inner {
	height: $height;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	display: block;
	line-height: 1;
	padding: rem(8px);
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: #fff;
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;
}

.link:hover {
	background-color: $lighter_background_color;
	cursor: pointer;
}

.active {
	background-color: $lighter_background_color;
}

img:hover {
	cursor: pointer;
}

.logoFull {
	width: 7em;
}

.logoSmall {
	width: 2em;
	opacity: 0.70;
}

.profile:hover {
	opacity: 0.80;
}