@import '../../../styles/variables.scss';

.container {
	width: 22em;
}

.headerContainer {
	text-align: center;
}

.logo {
	width: 10em;
	margin-bottom: $auth_element_spacing;
}

.logo:hover {
	cursor: pointer;
}

.formHeader {
	display: block;
	text-align: center;
	margin: 0;
}