@import './styles/variables.scss';
@import '@mantine/notifications/styles.css';
@import '@mantine/core/styles.css';

// Set theme and remove default margin/padding
body {
    margin: 0;
    padding: 0;
}

input {
	font-size: 16px !important;
}