// Variables
$main_background_color: #0d1117;
$light_background_color: #161b22;
$lighter_background_color: #2b313a;
$lightest_background_color: #3c424b;

$main_font_color: #fff;

$footer_height: 5em;

// Global styles
body {
    margin: 0;
    padding: 0;
    background-color: $main_background_color;
	color: $main_font_color;
}